# Python for Pandas[Cric_Data]

In [31]:
# Import the pandas library

import pandas as pd  

Cricdata_excel = pd.read_csv(r"C:\Users\jiten\OneDrive\Desktop\Cricdata_excel.csv")   # Load the CSV file

print(Cricdata_excel.head())     # Display the first few rows-----> Here the total row is 10 so .head() will print first 5 rows

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
4   5    2017   KKR   RCB         RCB           bat    KKR

In [21]:

print(Cricdata_excel.head(2))    # Display the first 2 rows

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR

In [20]:

print(Cricdata_excel.head(1))     # Display only the first rows

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI

In [33]:
print(Cricdata_excel.head(10))        # Display all 10 rows

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
4   5    2017   KKR   RCB         RCB           bat    KKR
5   6    2017   RPS    MI         RPS         field     MI
6   7    2017    GT   RPS          GT         field    RPS
7   8    2017   LSG    MI          MI         field     MI
8   9    2017   RPS   RCB         RCB           bat    RCB
9  10    2017   SRH   KKR         KKR           bat    SRH

In [32]:
print(Cricdata_excel.tail())          # Display the last few rows-----> Here the total row is 10 so .tail() will print last 5 rows

   id  season team1 team2 toss_winner toss_decision winner
5   6    2017   RPS    MI         RPS         field     MI
6   7    2017    GT   RPS          GT         field    RPS
7   8    2017   LSG    MI          MI         field     MI
8   9    2017   RPS   RCB         RCB           bat    RCB
9  10    2017   SRH   KKR         KKR           bat    SRH

In [34]:
print(Cricdata_excel.tail(10))        # Display all 10 rows

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
4   5    2017   KKR   RCB         RCB           bat    KKR
5   6    2017   RPS    MI         RPS         field     MI
6   7    2017    GT   RPS          GT         field    RPS
7   8    2017   LSG    MI          MI         field     MI
8   9    2017   RPS   RCB         RCB           bat    RCB
9  10    2017   SRH   KKR         KKR           bat    SRH

In [39]:
Cricdata_excel.columns           #Helps to display all the columns name in the purticular data

Index(['id', 'season', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'winner'],
      dtype='object')

In [41]:
Cricdata_excel.info()             #display the information about the purticular data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   season         10 non-null     int64
 2   team1          10 non-null     object
 3   team2          10 non-null     object
 4   toss_winner    10 non-null     object
 5   toss_decision  10 non-null     object
 6   winner         10 non-null     object
dtypes: int64(2), object(5)
memory usage: 692.0+ bytes

In [42]:
Cricdata_excel.shape                #display the size of the data(No. of Rows & Columns)

(10, 7)

In [43]:
Cricdata_excel.dtypes              #display all the datatypes of each & every column in a separated way

id                int64
season            int64
team1            object
team2            object
toss_winner      object
toss_decision    object
winner           object
dtype: object

In [44]:
Cricdata_excel.index                #display the range of the index

RangeIndex(start=0, stop=10, step=1)

In [45]:
# Counting the value based on labels

Cricdata_excel.value_counts("toss_decision")

toss_decision
bat      6
field    4
Name: count, dtype: int64

In [46]:
Cricdata_excel.value_counts("winner")

winner
MI     4
KKR    3
RCB    1
RPS    1
SRH    1
Name: count, dtype: int64

In [55]:
Cricdata_excel["id"].mean()             #find the avg. value

5.5

In [57]:
Cricdata_excel["id"].median()          #choose the mid value

5.5

In [52]:
Cricdata_excel["id"].mode()           #how many highily accurance value willbe that will be displayed

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [53]:
#count the number of value

Cricdata_excel.count()                  # .count() function will help to display the Not_null values

id               10
season           10
team1            10
team2            10
toss_winner      10
toss_decision    10
winner           10
dtype: int64

In [54]:
#All statistical measures about the dataframe

Cricdata_excel.describe()

             id  season
count  10.00000    10.0
mean    5.50000  2017.0
std     3.02765     0.0
min     1.00000  2017.0
25%     3.25000  2017.0
50%     5.50000  2017.0
75%     7.75000  2017.0
max    10.00000  2017.0

In [61]:
Cricdata_excel.drop(index=0,axis=0).head()

   id  season team1 team2 toss_winner toss_decision winner
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
4   5    2017   KKR   RCB         RCB           bat    KKR
5   6    2017   RPS    MI         RPS         field     MI

In [60]:
# remove the rows

Cricdata_excel.drop(index=4,axis=0).head()

   id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
5   6    2017   RPS    MI         RPS         field     MI

In [69]:
# remove the columns

x=Cricdata_excel.drop(columns=["season","toss_decision"],axis=1)
y=Cricdata_excel["toss_decision"]
x.head()

   id team1 team2 toss_winner winner
0   1    MI   RCB          MI     MI
1   2   KKR   SRH         KKR    KKR
2   3   SRH    MI          MI     MI
3   4   RCB   KKR         KKR    KKR
4   5   KKR   RCB         RCB    KKR

In [70]:
y.head()                   #such data are dependant data

0      bat
1    field
2      bat
3      bat
4      bat
Name: toss_decision, dtype: object

In [75]:
Cricdata_excel.iloc[2]        #value at index location

id                  3
season           2017
team1             SRH
team2              MI
toss_winner        MI
toss_decision     bat
winner             MI
Name: 2, dtype: object

In [78]:
#locate the purticular column

Cricdata_excel.iloc[:,2]    #3rd column

0     MI
1    KKR
2    SRH
3    RCB
4    KKR
5    RPS
6     GT
7    LSG
8    RPS
9    SRH
Name: team1, dtype: object

In [81]:
Cricdata_excel.iloc[1:3]     #split the rows

   id  season team1 team2 toss_winner toss_decision winner
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI

## Data Processing

In [83]:
Cricdata_excel.isnull()           #help to display true/false. True-->Null Value , False-->No Null value

      id  season  team1  team2  toss_winner  toss_decision  winner
0  False   False  False  False        False          False   False
1  False   False  False  False        False          False   False
2  False   False  False  False        False          False   False
3  False   False  False  False        False          False   False
4  False   False  False  False        False          False   False
5  False   False  False  False        False          False   False
6  False   False  False  False        False          False   False
7  False   False  False  False        False          False   False
8  False   False  False  False        False          False   False
9  False   False  False  False        False          False   False

In [84]:
Cricdata_excel.isnull().sum()            #helps to display the count of the null value each & every columns

id               0
season           0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
dtype: int64

In [86]:
#dropna---> It will help to remove all the null values

Cricdata_excel= Cricdata_excel.dropna()       # But here in this no null value is present

In [94]:


Cricdata_excel.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [92]:
Cricdata_excel.duplicated().sum()      #Here no duplicate value is present so it displays 0

0

In [93]:
Cricdata_excel.drop_duplicates        #Help to drop all the duplicate values

<bound method DataFrame.drop_duplicates of    id  season team1 team2 toss_winner toss_decision winner
0   1    2017    MI   RCB          MI           bat     MI
1   2    2017   KKR   SRH         KKR         field    KKR
2   3    2017   SRH    MI          MI           bat     MI
3   4    2017   RCB   KKR         KKR           bat    KKR
4   5    2017   KKR   RCB         RCB           bat    KKR
5   6    2017   RPS    MI         RPS         field     MI
6   7    2017    GT   RPS          GT         field    RPS
7   8    2017   LSG    MI          MI         field     MI
8   9    2017   RPS   RCB         RCB           bat    RCB
9  10    2017   SRH   KKR         KKR           bat    SRH>